.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #01162c;
  text-align: center;
  padding: 20px;
}

.home-title {
  color: white;
  font-size: 50px;
  font-style: inherit;
  font-weight: bolder;
  font-weight: bold;
}

.home-subtitle {
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

.home-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c7a551;

  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.home-button:hover {
  background-color: #005f6b;
}
