.events-container {
  padding: 50px;
  background-color: #01162c;
  text-align: center;
  box-sizing: border-box;
}

.events-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #c7a551; /* Macaw blue green color */
}

.events-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.events-text {
  max-width: 800px;
}

.events-description {
  font-size: 18px;
  line-height: 1.5;
  color: #b3b3b3;
}

.events-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.events-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.events-more-text {
  flex: 1;
  text-align: left;
}

.events-more-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #b3b3b3;
}
